body{
    background-color: rgb(209, 209, 209);
}
h1{
    text-align: center;
    font-size: 40px;
}
h2{
    text-align: center;
    font-size: 30px;
}
.galeria{
    display: flex;
    gap: 50px;
}
.video{
    text-align: center;
    font-size: 25px;
}
#video{
    width: 490px;
    display: block;
    margin: auto;
    cursor:pointer;
}
